:root {
    --whiteish: #FFFCF7;
    --orangey-brown: #BD764C;
    --medium-brown: #764E37;
    --dark-brown: #474037;
    --light-brown: #C8A585;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hammersmith One";
    color: var(--dark-brown);
    background-color: var(--whiteish);
}

.text-uppercase {
    text-transform: uppercase;
}

.letter-spacing{
    letter-spacing: 5px;
}

.center {
    text-align: center;
}

.nav-title{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a { 
    color: inherit;
    font-size: 45px;
    } 


.hero {
    background-image: url("../images/quiz-bg.png");
    background-size: cover;}

.title {
    text-transform: uppercase;
    color: var(--whiteish);
    font-size: 30px;
    text-align: center;
}

.card-header {
    background-color: var(--dark-brown);
    margin-top: 70px;
}

.card-header-title {
color: var(--whiteish);
text-align: center;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.card-content {
    background: var(--whiteish);
}

.quiz-btn {
    margin: 6px auto;
    width: 90%;
    border: solid 1px var(--light-brown);
    padding: 8px;
    border-radius: 25px;
    font-size: 20px;
    background-image: linear-gradient(45deg, var(--orangey-brown) 0%, var(--orangey-brown) 52%, var(--whiteish) 90%);
    transition: all .3s ease-in-out;
    background-size: 1px 280px;
    background-position: 0 -10px;
}
  
.quiz-btn:hover {
    background-position: 1px -200px;
    color: var(--whiteish);
}

.footer {
    background-color: var(--whiteish);
    color: var(--dark-brown);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 4px;
    text-align: center;
}
