:root{
    --whiteish: #FFFCF7;
    --orangey-brown: #BD764C;
    --medium-brown: #764E37;
    --dark-brown: #474037;
    --light-brown: #C8A585;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hammersmith One";
    color: var(--dark-brown);
    background-color: var(--whiteish);
}

main{
    padding: 0 0 3% 0;
}

.text-uppercase {
    text-transform: uppercase;
}

.letter-spacing{
    letter-spacing: 5px;
}

.center {
    text-align: center;
}

header {
    margin: 0 auto 1rem auto;
    padding: 1rem 6rem 0 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home {
    font-size: 3.4vw;
    letter-spacing: 5px;
    color: var(--dark-brown);
}

header form {
    display: flex;
    align-items: center;
}

.search-box {
    border-radius: 20px 0 0 20px;
    padding: 5px 0px 5px 10px;
    font-size: 17px;
    border-style: none;
    border: solid 1.85px rgba(0,0,0,.2);
    background-color: rgba(245,245,245,.6);

}

.search-box:focus{
    background-color: rgba(250,250,250,.95);
    outline: none;
}

.search-icon {
    color: var(--whiteish);
    border-radius: 0 20px 20px 0;
    padding: 7px 10px;
    background-color: var(--dark-brown);
    transition: all .3s ease-in-out;
    background-size: 1px 280px;
    background-position: 0 -10px;
    border-style: none;
    border: solid 1.85px rgba(0,0,0,.2);
}
  
.search-icon:hover {
    background-position: 1px -200px;
    background-color: var(--light-brown);
    color: var(--whiteish);

}

#menu-bar{
    background-color: var(--light-brown);
    width: 100%;
    padding: 2% 0;
    border-bottom: solid 9px rgb(255,255,255,0.75);
}

.results-for{
    display: flex;
}

.results-for h2 {
    margin: 30px auto;
    width: 95%;
    font-size: 1.3rem;
    letter-spacing: 4px;
}

#no-results{
    font-size: 1.25rem;
}

#display-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 95%;
}

.recipe-card {
    text-align: center;
    margin: 15px;
    background: none;
    border: none;
    transition: all .25s ease-in-out;
    width: 25%;
}

.recipe-card:hover{
    transform: scale(1.065);
}

.recipe-img {
    border-radius: 30px;
    width: 80%;
    margin: 0 0 11px 0;
}

.recipe-title{
    font-size: 15px;
    text-align: left;
    padding-left: 37px;
    font-weight: bold;
}

.modal{
    animation-name: animatetop;
    animation-duration: 0.5s;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-card-head {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    background: var(--light-brown);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0;
}

.modal-card-body {
    background-color: var(--whiteish);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-image {
    width: 85%;
    border-radius: 25px;
}

.time-and-serving {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    justify-content: space-between;
    margin: 12px auto;
    font-size: 1.1rem;
}

.modal-section-title {
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    margin: 20px auto 10px auto;
}

.ingredients-container {
    list-style: none;
    width: 95%;
    text-align: center;
    outline: double;
    line-height: 30px;
    padding: 10px;
}

.ingredient{
    list-style: inside;
}

.recipe-instructions {
    text-align: justify;
    line-height: 30px;
    padding: 15px 35px;
    outline: double;
    width: 95%;
}

.modal-card-foot {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--light-brown);
    border-top: 1px solid rgba(255,255,255,0.5);
    text-align: center;
    justify-content: center;
    font-style: italic;
    width: 100%;
}