:root{
    --whiteish: #FFFCF7;
    --orangey-brown: #BD764C;
    --medium-brown: #764E37;
    --dark-brown: #474037;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hammersmith One";
    color: var(--whiteish);
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    /* background-position: 80%; */
    background-attachment: fixed;
    z-index: 9999;
}

#section-1{
    background-color: var(--dark-brown);
    background-image: url("../images/section-1-bg.jpg");
    background-size: cover;
    opacity: 68%;
    padding: 180px 15% 65px 15%;
}

#section-1 h2 {
    font-size: 75px;
    line-height: 80%;
}

#take-quiz {
    padding: 15px 50px;
    font-size: 2rem;
    font-weight: bold;
    background: white;
    border: 0;
    border-radius: 15px;
}

#section-2{
    background-color: var(--orangey-brown);;
    margin: 15px 0;
    padding: 120px 15% 65px 15%;
}

#section-2 h2 {
    font-size: 55px;
    line-height: 80%;
    text-align: center;
}

#section-3{
    background-color: var(--orangey-brown);;
    background-image: url("../images/section-3-bg.jpg");
    background-size: cover;
    opacity: 68%;
    padding: 50px 15% 35px 15%;

}

#section-3 h2 {
    font-size: 45px;
    line-height: 80%;
}

.columns{
    align-items: center;
}

.center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}