:root{
    --whiteish: #FFFCF7;
    --orangey-brown: #BD764C;
    --medium-brown: #764E37;
    --dark-brown: #474037;
    --light-brown: #C8A585;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hammersmith One";
    color: var(--whiteish);
}

.text-uppercase {
    text-transform: uppercase;
}

.letter-spacing{
    letter-spacing: 5px;
}

.center {
    text-align: center;
}

header {
    margin: 0 auto 9rem auto;
    padding: 1rem 6rem 0 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home {
    font-size: 3.4vw;
}

header form {
    display: flex;
    align-items: center;
}

.search-box {
    border-radius: 20px 0 0 20px;
    padding: 5px 0px 5px 10px;
    font-size: 17px;
    border-style: none;
    border: solid 1.85px rgba(0,0,0,.2);
    background-color: rgba(255,255,255,.8);

}

.search-box:focus{
    background-color: rgba(255,255,255,.95);
    outline: none;
}

.search-icon {
    color: var(--whiteish);
    border-radius: 0 20px 20px 0;
    padding: 7px 10px;
    background-color: var(--dark-brown);
    transition: all .3s ease-in-out;
    background-size: 1px 280px;
    background-position: 0 -10px;
    border-style: none;
    border: solid 1.85px rgba(0,0,0,.2);
}
  
.search-icon:hover {
    background-position: 1px -200px;
    background-color: var(--light-brown);
    color: var(--whiteish);
}

#section-1{
    background-color: var(--dark-brown);
    background-image: url("../images/section-1-bg.png");
    background-size: cover;
}

.padding-1{
    padding: 0px 15% 65px 15%;
}

#section-1 h2 {
    font-size: 75px;
    line-height: 80%;
}

#section-1 h4 {
    padding: 0 22%;
    font-size: 1.4rem;
    margin: 4% auto;
}

#vertical-bar {
    background-color: var(--whiteish);
    width: 2px;
    height: 90px;
    margin: 0 auto;
}

#take-quiz {
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    color: var(--dark-brown);
    background-image: linear-gradient(45deg, var(--orangey-brown) 0%, var(--orangey-brown) 52%, var(--whiteish) 90%);
    transition: all .3s ease-in-out;
    background-size: 1px 280px;
    background-position: 0 -10px;
}
  
#take-quiz:hover {
    background-position: 1px -200px;
    transform: scale(1.06);
    color: var(--whiteish);
}

#section-2{
    background-color: var(--orangey-brown);;
    margin: 15px 0;
    padding: 120px 15% 65px 15%;
}

#section-2 h2 {
    font-size: 55px;
    line-height: 80%;
    text-align: center;
}

#section-2 h4 {
    padding: 0 22%;
    font-size: 1.4rem;
    margin: 4% auto;
}

#decide-eat-logo {
    width: 23%;
    margin: 0% auto -7% auto;
    /* background-color: transparent; */
}

#section-3{
    background-color: var(--orangey-brown);;
    background-image: url("../images/section-3-bg.png");
    background-size: cover;
    padding: 50px 15% 35px 15%;

}

#section-3 h2 {
    font-size: 45px;
    line-height: 80%;
}
.category{ 
    padding: 5px 15px 10px;
    font-size: 1.8rem;
    font-weight: Bold;
    border: 0;
    border-radius: 5px;
    background-color: var(--whiteish);
    transition: all .3s ease-in-out;
    background-size: 1px 180px;
    margin: 50px;

}
  
.category:hover {
    background-position: 1px -200px;
    color: var(--orangey-brown);
}

.columns {
    align-items: center;
}

.footer {
    background-color: var(--light-brown);
    color: var(--whiteish);
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 4px;
    text-align: center;
}
